.createBadgeModalBackground {
  background: rgba(0, 0, 0, 0.3);
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}

.CreateBadgeModal {
  max-width: 500px;
  width: 100%;
  background: white;
  padding: 30px;
  border-radius: 5px;
  font-family: "Nunito";

  .modal-header {
    height: 50px;
    margin-top: -30px;
    margin-left: -30px;
    padding-right: 30px;
    width: 100%;
    background: #fafafa;
    border-bottom: solid 1px #b7b7b7;
    display: flex;
    align-items: center;
    padding-left: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: 800;
  }

  .badge-image {
    width: 75px;
    height: 75px;
    background: #eaeaea;
    border-radius: 500px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  input,
  textarea {
    background: #e2e2e2;
    border: 0;
    resize: none;
    width: 100%;
    padding-left: 12px;
    border-radius: 5px;

    &::placeholder {
      font-family: "Nunito";
    }
  }

  .input-wrap {
    width: 100%;
    margin-bottom: 20px;

    .input-title {
      font-size: 16px;
      margin-bottom: 12px;
      font-weight: 800;
      color: #111828;
    }
  }

  input {
    height: 40px;
    background: #fafafa;
    border: solid 1px #b7b7b7;

    &:focus {
      border: #5690c7;
    }
  }

  textarea {
    min-height: 70px;
    padding-top: 12px;
    border: solid 1px #b7b7b7;
    background: #fafafa;
  }

  .colour-circle-container {
    display: flex;

    .colour-circle {
      width: 50px;
      height: 50px;
      border-radius: 500px;
      margin-right: 30px;
    }
  }

  button {
    margin-top: 50px;
  }

  .modal-create-badge{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .modal-badge-created{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

  }
}
