.createBadgeModalBackground {
  background: rgba(0, 0, 0, 0.3);
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}

.CreateBadgeModal {
  max-width: 500px;
  width: 100%;
  background: white;
  border-radius: 5px;
  font-family: "Nunito";
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  .modal-header {
    height: 50px;
    margin-top: -30px;
    width: 100%;
    background: #fafafa;
    border-bottom: solid 1px #ececec;
    display: flex;
    align-items: center;
    padding-left: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: 800;
  }

  .badge-image {
    width: 75px;
    height: 75px;
    background: #eaeaea;
    border-radius: 500px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .input-wrap {
    width: 100%;
    margin-bottom: 20px;

    .input-title {
      font-size: 16px;
      margin-bottom: 12px;
      font-weight: 800;
      color: #111828;
    }
  }

  .colour-circle-container {
    display: flex;

    .colour-circle {
      width: 50px;
      height: 50px;
      border-radius: 500px;
      margin-right: 30px;
    }
  }

  button {
    margin-top: 25px;
  }

  .modal-create-badge {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .modal-create-badge-content {
      width: 100%;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 30px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    input,
    textarea {
      background: #e2e2e2;
      border: 0;
      resize: none;
      width: 100%;
      padding-left: 12px;
      border-radius: 5px;
      font-family: 'nunito';

      &::placeholder {
        font-family: "Nunito";
      }
    }

    input {
      height: 40px;
      background: #fafafa;
      border: solid 1px #b7b7b7;

      &:focus {
        border: #5690c7;
      }
    }

    textarea {
      min-height: 70px;
      padding-top: 12px;
      border: solid 1px #b7b7b7;
      background: #fafafa;
    }
  
  }

  .modal-badge-created {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .badgeName {
      font-size: 18px;
      font-family: "Nunito";
      font-weight: 800;
    }

    .badgeDescription {
      margin-bottom: 25px;
      font-size: 14px;
      color: #9c9c9c;
      font-family: "Nunito";
    }
  }

  .modal-badge-award {
    padding-bottom: 30px;

    .user-row {
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 30px;
      padding-right: 30px;
      display: flex;
      align-items: center;

      &:hover {
        background: #f9f9f9;
      }
    
      .avatar {
        height: 50px;
        width: 50px;
        background-color: #eaeaea;
        border-radius: 500px;
        margin-right: 10px;
      }
    }

    input[type="checkbox"] {
      transform: scale(1.5);
      margin-right: 20px;
    }

    button{
      margin-left: 30px;
    }
  
  }



  
}
